[Unit]
Description=USB mount service to check if network config has been plugged in
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart="/usr/local/bin/drive-service/startup_script.sh"
TimeoutStartSec=0

[Install]
WantedBy=default.target
